<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Welcome to KWARK!</h1>
			<h3 class="text-warning">Closing the window closes the script!</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2>About</h2>
			<p>This Section should contain information!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2>Features</h2>
			<p>It's got stuff, AND it does things!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2>Infromation here!</h2>
			<p>At some point in time!</p>
		</div>
	
	</div>
</div>
<hr>
<div class="container border">
	<div class="row">
		<div class="col-12">
			<h2>Testing</h2>
			<p>Please go to the Test tab</p>
		</div>
	</div>
</div>