<div class="kwark-footer-pillow"></div>
<footer class='kwark-footer'>
	<div class="container-fluid bg-dark ">
		<div class="row p-2">	
			<div class="col-sm-6 col-md-2 col-lg-2 col-xl-1 text-center my-1">
				<button class="btn btn-warning" name='ReloadScript' data-label="ReloadScript" onclick="neutron.Button(event)">Reload</button>
			
			</div>
			
			<div class="col-sm-12 col-md-3 col-lg-2 col-xl-2 text-center">
				<div id="timeReader">00:00:00</div>
			
			</div>
		</div>
		
	</div>

</footer>