<div class="kwark-footer-pillow"></div>
<footer class='kwark-footer'>
	<div class="container-fluid bg-dark ">
		<div class="row p-2">	
			<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center my-1">
				<button class="btn btn-warning" name='ReloadScript' data-label="ReloadScript" onclick="neutron.Button(event)">Reload</button>
			
			</div>
			
			<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center">
				<p>Time: <span id="timeReader">00:00:00</span></p>
				
			
			</div>
			<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center">
				<p>Ram: <span id="script_ram">0 MB</span></p>
				
			
			</div>
		</div>
		
	</div>

</footer>