<footer class='kwark-footer'>
	<div class="container-fluid bg-dark ">
		<div class="row p-2">	
			<div class="col-3 text-center">
				<button class="btn btn-warning" name='ReloadScript' onclick="ahk.Clicked(event)">Reload</button>
			
			</div>
			<div class="col-3 text-center">
				<button class="btn btn-danger" onclick="ahk.ClickedArrayThing(event, $('#appendValue').val())">TestAppendData</button>
			
			</div>
			<div class="col-4 text-center">
				<input id="appendValue" class='form-control' type="text" value="text"/>
			
			</div>
			<div class="col-2 text-center">
				<div id="timeReader" data-label='timeReaderUpdate'>00:00:00</div>
			
			</div>
		</div>
		
	</div>

</footer>