

<div id='<!--$id-->' class="container">
    <div class="row">
        <div class="col-12">
            <h1><!--$title--></h1>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-3">
            <h5>DynamicVars:</h5>
        </div>
        <div class="col-3">
            <!--$variable-->
        </div>
        <div class="col-3"><!--$variable2--></div>
        <div class="col-3"><!--$variable3--></div>
    </div>
    <div class="row" style='max-height: 400px; overflow: scroll; scrollbar-base-color: #232323; scrollbar-track-color: #000000;'>
        <div class="col-12" >
            <table class='table table-dark table-bordered table-striped'>
                <thead>
                    <th width="15%">Index</th>
                    <th width="85%">Text</th>
                </thead>
                <tbody id="section1">

                </tbody>
            </div>
        </div>
    </div>
</div>
