.wpx-primary1 {
	color: var(--wpx-primary1);
}
.wpx-primary1-20 {
	color: var(--wpx-primary1-20);
}
.wpx-primary1-40 {
	color: var(--wpx-primary1-40);
}
.wpx-primary1-60 {
	color: var(--wpx-primary1-60);
}
.wpx-primary1-80 {
	color: var(--wpx-primary1-80);
}
.wpx-secondary1 {
	color: var(--wpx-secondary1);
}
.wpx-secondary1-20 {
	color: var(--wpx-secondary1-20);
}
.wpx-secondary1-40 {
	color: var(--wpx-secondary1-40);
}
.wpx-secondary1-60 {
	color: var(--wpx-secondary1-60);
}
.wpx-secondary1-80 {
	color: var(--wpx-secondary1-80);
}
.wpx-accent1 {
	color: var(--wpx-accent1);
}
.wpx-accent1-20 {
	color: var(--wpx-accent1-20);
}
.wpx-accent1-40 {
	color: var(--wpx-accent1-40);
}
.wpx-accent1-60 {
	color: var(--wpx-accent1-60);
}
.wpx-accent1-80 {
	color: var(--wpx-accent1-80);
}
.wpx-error1 {
	color: var(--wpx-error1);
}

.svg-wpx-error1 {
	fill: var(--wpx-error1);
}

.svg-primary {
	fill: var(--primary);
}

.svg-secondary {
	fill: var(--secondary);
}

.svg-success {
	fill: var(--success);
}

.svg-info {
	fill: var(--info);
}

.svg-warning {
	fill: var(--warning);
}

.svg-danger {
	fill: var(--danger);
}

.svg-standard {
	fill: var(--med-alt);
}

.svg {
	width: 100%;
	height: auto;
	fill: var(--svg-color);
}

.svg-placeholder {
	font-style: italic;
	color: var(--svg-color);
}

.wpx-error1-20 {
	color: var(--wpx-error1-20);
}
.wpx-error1-40 {
	color: var(--wpx-error1-40);
}
.wpx-error1-60 {
	color: var(--wpx-error1-60);
}
.wpx-error1-80 {
	color: var(--wpx-error1-80);
}
.wpx-info1 {
	color: var(--wpx-info1);
}
.wpx-info1-20 {
	color: var(--wpx-info1-20);
}
.wpx-info1-40 {
	color: var(--wpx-info1-40);
}
.wpx-info1-60 {
	color: var(--wpx-info1-60);
}
.wpx-info1-80 {
	color: var(--wpx-info1-80);
}
.wpx-primary2 {
	color: var(--wpx-primary2);
}
.wpx-primary2-20 {
	color: var(--wpx-primary2-20);
}
.wpx-primary2-40 {
	color: var(--wpx-primary2-40);
}
.wpx-primary2-60 {
	color: var(--wpx-primary2-60);
}
.wpx-primary2-80 {
	color: var(--wpx-primary2-80);
}
.wpx-secondary2 {
	color: var(--wpx-secondary2);
}
.wpx-secondary2-20 {
	color: var(--wpx-secondary2-20);
}
.wpx-secondary2-40 {
	color: var(--wpx-secondary2-40);
}
.wpx-secondary2-60 {
	color: var(--wpx-secondary2-60);
}
.wpx-secondary2-80 {
	color: var(--wpx-secondary2-80);
}
.wpx-accent2 {
	color: var(--wpx-accent2);
}
.wpx-accent2-20 {
	color: var(--wpx-accent2-20);
}
.wpx-accent2-40 {
	color: var(--wpx-accent2-40);
}
.wpx-accent2-60 {
	color: var(--wpx-accent2-60);
}
.wpx-accent2-80 {
	color: var(--wpx-accent2-80);
}
.wpx-error2 {
	color: var(--wpx-error2);
}
.wpx-error2-20 {
	color: var(--wpx-error2-20);
}
.wpx-error2-40 {
	color: var(--wpx-error2-40);
}
.wpx-error2-60 {
	color: var(--wpx-error2-60);
}
.wpx-error2-80 {
	color: var(--wpx-error2-80);
}
.wpx-info2 {
	color: var(--wpx-info2);
}
.wpx-info2-20 {
	color: var(--wpx-info2-20);
}
.wpx-info2-40 {
	color: var(--wpx-info2-40);
}
.wpx-info2-60 {
	color: var(--wpx-info2-60);
}
.wpx-info2-80 {
	color: var(--wpx-info2-80);
}
.fr3-primary1 {
	color: var(--fr3-primary1);
}
.fr3-primary1-20 {
	color: var(--fr3-primary1-20);
}
.fr3-primary1-40 {
	color: var(--fr3-primary1-40);
}
.fr3-primary1-60 {
	color: var(--fr3-primary1-60);
}
.fr3-primary1-80 {
	color: var(--fr3-primary1-80);
}
.fr3-secondary1 {
	color: var(--fr3-secondary1);
}
.fr3-secondary1-20 {
	color: var(--fr3-secondary1-20);
}
.fr3-secondary1-40 {
	color: var(--fr3-secondary1-40);
}
.fr3-secondary1-60 {
	color: var(--fr3-secondary1-60);
}
.fr3-secondary1-80 {
	color: var(--fr3-secondary1-80);
}
.fr3-accent1 {
	color: var(--fr3-accent1);
}
.fr3-accent1-20 {
	color: var(--fr3-accent1-20);
}
.fr3-accent1-40 {
	color: var(--fr3-accent1-40);
}
.fr3-accent1-60 {
	color: var(--fr3-accent1-60);
}
.fr3-accent1-80 {
	color: var(--fr3-accent1-80);
}
.fr3-error1 {
	color: var(--fr3-error1);
}
.fr3-error1-20 {
	color: var(--fr3-error1-20);
}
.fr3-error1-40 {
	color: var(--fr3-error1-40);
}
.fr3-error1-60 {
	color: var(--fr3-error1-60);
}
.fr3-error1-80 {
	color: var(--fr3-error1-80);
}
.fr3-info1 {
	color: var(--fr3-info1);
}
.fr3-info1-20 {
	color: var(--fr3-info1-20);
}
.fr3-info1-40 {
	color: var(--fr3-info1-40);
}
.fr3-info1-60 {
	color: var(--fr3-info1-60);
}
.fr3-info1-80 {
	color: var(--fr3-info1-80);
}
.fr3-primary2 {
	color: var(--fr3-primary2);
}
.fr3-primary2-20 {
	color: var(--fr3-primary2-20);
}
.fr3-primary2-40 {
	color: var(--fr3-primary2-40);
}
.fr3-primary2-60 {
	color: var(--fr3-primary2-60);
}
.fr3-primary2-80 {
	color: var(--fr3-primary2-80);
}
.fr3-secondary2 {
	color: var(--fr3-secondary2);
}
.fr3-secondary2-20 {
	color: var(--fr3-secondary2-20);
}
.fr3-secondary2-40 {
	color: var(--fr3-secondary2-40);
}
.fr3-secondary2-60 {
	color: var(--fr3-secondary2-60);
}
.fr3-secondary2-80 {
	color: var(--fr3-secondary2-80);
}
.fr3-accent2 {
	color: var(--fr3-accent2);
}
.fr3-accent2-20 {
	color: var(--fr3-accent2-20);
}
.fr3-accent2-40 {
	color: var(--fr3-accent2-40);
}
.fr3-accent2-60 {
	color: var(--fr3-accent2-60);
}
.fr3-accent2-80 {
	color: var(--fr3-accent2-80);
}
.fr3-error2 {
	color: var(--fr3-error2);
}
.fr3-error2-20 {
	color: var(--fr3-error2-20);
}
.fr3-error2-40 {
	color: var(--fr3-error2-40);
}
.fr3-error2-60 {
	color: var(--fr3-error2-60);
}
.fr3-error2-80 {
	color: var(--fr3-error2-80);
}
.fr3-info2 {
	color: var(--fr3-info2);
}
.fr3-info2-20 {
	color: var(--fr3-info2-20);
}
.fr3-info2-40 {
	color: var(--fr3-info2-40);
}
.fr3-info2-60 {
	color: var(--fr3-info2-60);
}
.fr3-info2-80 {
	color: var(--fr3-info2-80);
}
.strorange {
	color: var(--strorange);
}
.strorange-20 {
	color: var(--strorange-20);
}
.strorange-40 {
	color: var(--strorange-40);
}
.strorange-60 {
	color: var(--strorange-60);
}
.strorange-80 {
	color: var(--strorange-80);
}
.superblue {
	color: var(--superblue);
}
.superblue-20 {
	color: var(--superblue-20);
}
.superblue-40 {
	color: var(--superblue-40);
}
.superblue-60 {
	color: var(--superblue-60);
}
.superblue-80 {
	color: var(--superblue-80);
}
.neonmagenta {
	color: var(--neonmagenta);
}
.neonmagenta-20 {
	color: var(--neonmagenta-20);
}
.neonmagenta-40 {
	color: var(--neonmagenta-40);
}
.neonmagenta-60 {
	color: var(--neonmagenta-60);
}
.neonmagenta-80 {
	color: var(--neonmagenta-80);
}
.green-success {
	color: var(--green-success);
}
.green-success-20 {
	color: var(--green-success-20);
}
.green-success-40 {
	color: var(--green-success-40);
}
.green-success-60 {
	color: var(--green-success-60);
}
.green-success-80 {
	color: var(--green-success-80);
}
.red-danger {
	color: var(--red-danger);
}
.red-danger-20 {
	color: var(--red-danger-20);
}
.red-danger-40 {
	color: var(--red-danger-40);
}
.red-danger-60 {
	color: var(--red-danger-60);
}
.red-danger-80 {
	color: var(--red-danger-80);
}
.fr3-light {
	color: var(--fr3-light);
}
.fr3-light-20 {
	color: var(--fr3-light-20);
}
.fr3-light-40 {
	color: var(--fr3-light-40);
}
.fr3-light-60 {
	color: var(--fr3-light-60);
}
.fr3-light-80 {
	color: var(--fr3-light-80);
}
.fr3-med {
	color: var(--fr3-med);
}
.fr3-med-20 {
	color: var(--fr3-med-20);
}
.fr3-med-40 {
	color: var(--fr3-med-40);
}
.fr3-med-60 {
	color: var(--fr3-med-60);
}
.fr3-med-80 {
	color: var(--fr3-med-80);
}
.fr3-dark {
	color: var(--fr3-dark);
}
.fr3-dark-20 {
	color: var(--fr3-dark-20);
}
.fr3-dark-40 {
	color: var(--fr3-dark-40);
}
.fr3-dark-60 {
	color: var(--fr3-dark-60);
}
.fr3-dark-80 {
	color: var(--fr3-dark-80);
}
.wpx-light {
	color: var(--wpx-light);
}
.wpx-light-20 {
	color: var(--wpx-light-20);
}
.wpx-light-40 {
	color: var(--wpx-light-40);
}
.wpx-light-60 {
	color: var(--wpx-light-60);
}
.wpx-light-80 {
	color: var(--wpx-light-80);
}
.wpx-med {
	color: var(--wpx-med);
}
.wpx-med-20 {
	color: var(--wpx-med-20);
}
.wpx-med-40 {
	color: var(--wpx-med-40);
}
.wpx-med-60 {
	color: var(--wpx-med-60);
}
.wpx-med-80 {
	color: var(--wpx-med-80);
}
.wpx-dark {
	color: var(--wpx-dark);
}
.wpx-dark-20 {
	color: var(--wpx-dark-20);
}
.wpx-dark-40 {
	color: var(--wpx-dark-40);
}
.wpx-dark-60 {
	color: var(--wpx-dark-60);
}
.wpx-dark-80 {
	color: var(--wpx-dark-80);
}






/* background colors */
.bg-primary {
	background-color: var(--primary) !important;
  }
.bg-med {
	background-color: var(--med) !important;
}
.bg-secondary {
	background-color: var(--secondary) !important;
  }
  .bg-success {
	background-color: var(--success) !important;
  }
  .bg-info {
	background-color: var(--info) !important;
  }
  .bg-warning {
	background-color: var(--warning) !important;
  }
  .bg-danger {
	background-color: var(--danger) !important;
  }
  .bg-light {
	background-color: var(--light) !important;
  }
  .bg-light-disabled {
	background-color: var(--light-disabled) !important;
  }
  .bg-light-hover {
	background-color: var(--light-hover) !important;
  }
  .bg-dark {
	background-color: var(--dark) !important;
  }
  .bg-white {
	background-color: var(--white) !important;
  }
  .bg-transparent {
	background-color: transparent !important;
  }
  .bg-fr3-primary2-40 {
	background-color: var(--fr3-primary2-40) !important;
  }
  .bg-fr3-primary2-20 {
	background-color: var(--fr3-primary2-20) !important;
  }

/* border colors */
  .border-primary {
	border-color: var(--primary) !important;
  }
  
  .border-secondary {
	border-color: var(--secondary) !important;
  }
  
  .border-success {
	border-color: var(--success) !important;
  }
  
  .border-info {
	border-color: var(--info) !important;
  }
  
  .border-warning {
	border-color: var(--warning) !important;
  }
  
  .border-danger {
	border-color: var(--danger) !important;
  }
  
  .border-light {
	border-color: var(--light) !important;
  }

  .border-light-40 {
	border-color: var(--wpx-light-40) !important;
  }
  
  .border-dark {
	border-color: var(--dark) !important;
  }
  
  .border-white {
	border-color: var(--white) !important;
  }
  .border-med {
	border-color: var(--med) !important;
}
.border-fr3-primary2-40 {
	border-color: var(--fr3-primary2-40) !important;
  }

.opc-100 {
	opacity: 1 !important;
}
.opc-90 {
	opacity: 0.9 !important;
}
.opc-80 {
	opacity: 0.8 !important;
}
.opc-70 {
	opacity: 0.7 !important;
}
.opc-60 {
	opacity: 0.6 !important;
}
.opc-50 {
	opacity: 0.5 !important;
}
.opc-40 {
	opacity: 0.4 !important;
}
.opc-30 {
	opacity: 0.3 !important;
}
.opc-20 {
	opacity: 0.2 !important;
}
.opc-10 {
	opacity: 0.1 !important;
}
.opc-0 {
	opacity: 0 !important;
}


/* buttons */
.btn {
	display: inline-block;
	font-weight: 400;
	color: var(--text);
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	line-height: 1.6;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
	.btn {
	  transition: none;
	}
  }
  .btn:hover {
	color: var(--text-light);
	text-decoration: none;
  }
  .btn:focus, .btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem var(--text-dark);
  }
  .btn.disabled, .btn:disabled {
	color: var(--text-disabled);
	opacity: 0.65;
  }
  .btn:not(:disabled):not(.disabled) {
	cursor: pointer;
  }
  a.btn.disabled,
  fieldset:disabled a.btn {
	pointer-events: none;
  }
  
  .btn-primary {
	color: var(--text);
	background-color: var(--primary);
	border-color: var(--primary-hover);
  }
  .btn-primary:hover {
	color: var(--text-light);
	background-color: var(--primary-hover);
	border-color: var(--primary);
  }
  .btn-primary:focus, .btn-primary.focus {
	color: var(--text-light);
	background-color: var(--primary-hover);
	border-color: var(--primary);
	box-shadow: 0 0 0 0.2rem var(--primary-shadow);
  }
  .btn-primary.disabled, .btn-primary:disabled {
	color: var(--text-disabled);
	background-color: var(--primary-disabled);
	border-color: var(--primary-hover);
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--primary);
	border-color: var(--primary-hover);
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--primary-shadow);
  }
  
  .btn-secondary {
	color: var(--text);
	background-color: var(--secondary);
	border-color: var(--secondary-hover);
  }
  .btn-secondary:hover {
	color: var(--text-light);
	background-color: var(--secondary-hover);
	border-color: var(--secondary);
  }
  .btn-secondary:focus, .btn-secondary.focus {
	color: var(--text-light);
	background-color: var(--secondary-hover);
	border-color: var(--secondary);
	box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
  }
  .btn-secondary.disabled, .btn-secondary:disabled {
	color: var(--text-disabled);
	background-color: var(--secondary-disabled);
	border-color: var(--secondary-hover);
  }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--secondary);
	border-color: var(--secondary-hover);
  }
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
  }
  
  .btn-success {
	color: var(--text);
	background-color: var(--success);
	border-color: var(--success-hover);
  }
  .btn-success:hover {
	color: var(--text-light);
	background-color: var(--success-hover);
	border-color: var(--success);
  }
  .btn-success:focus, .btn-success.focus {
	color: var(--text-light);
	background-color: var(--success-hover);
	border-color: var(--success);
	box-shadow: 0 0 0 0.2rem var(--success-shadow);
  }
  .btn-success.disabled, .btn-success:disabled {
	color: var(--text-disabled);
	background-color: var(--success-disabled);
	border-color: var(--success-hover);
  }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--success);
	border-color: var(--success-hover);
  }
  .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--success-shadow);
  }
  
  .btn-info {
	color: var(--text);
	background-color: var(--info);
	border-color: var(--info-hover);
  }
  .btn-info:hover {
	color: var(--text-light);
	background-color: var(--info-hover);
	border-color: var(--info);
  }
  .btn-info:focus, .btn-info.focus {
	color: var(--text-light);
	background-color: var(--info-hover);
	border-color: var(--info);
	box-shadow: 0 0 0 0.2rem var(--info-shadow);
  }
  .btn-info.disabled, .btn-info:disabled {
	color: var(--text-disabled);
	background-color: var(--info-disabled);
	border-color: var(--info-hover);
  }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--info);
	border-color: var(--info-hover);
  }
  .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--info-shadow);
  }
  
  .btn-warning {
	color: var(--text);
	background-color: var(--warning);
	border-color: var(--warning-hover);
  }
  .btn-warning:hover {
	color: var(--text-light);
	background-color: var(--warning-hover);
	border-color: var(--warning);
  }
  .btn-warning:focus, .btn-warning.focus {
	color: var(--text-light);
	background-color: var(--warning-hover);
	border-color: var(--warning);
	box-shadow: 0 0 0 0.2rem var(--warning-shadow);
  }
  .btn-warning.disabled, .btn-warning:disabled {
	color: var(--text-disabled);
	background-color: var(--warning-disabled);
	border-color: var(--warning-hover);
  }
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
	color: var(--text);
	background-color: var(--warning);
	border-color: var(--warning-hover);
  }
  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--warning-shadow);
  }
  
  .btn-danger {
	color: var(--text);
	background-color: var(--danger);
	border-color: var(--danger-hover);
  }
  .btn-danger:hover {
	color: var(--text-light);
	background-color: var(--danger-hover);
	border-color: var(--danger);
  }
  .btn-danger:focus, .btn-danger.focus {
	color: var(--text-light);
	background-color: var(--danger-hover);
	border-color: var(--danger);
	box-shadow: 0 0 0 0.2rem var(--danger-shadow);
  }
  .btn-danger.disabled, .btn-danger:disabled {
	color: var(--text-disabled);
	background-color: var(--danger-disabled);
	border-color: var(--danger-hover);
  }
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--danger);
	border-color: var(--danger-hover);
  }
  .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--danger-shadow);
  }
  
  .btn-light {
	color: var(--text);
	background-color: var(--light);
	border-color: var(--light-hover);
  }
  .btn-light:hover {
	color: var(--text-light);
	background-color: var(--light-hover);
	border-color: var(--light);
  }
  .btn-light:focus, .btn-light.focus {
	color: var(--text-light);
	background-color: var(--light-hover);
	border-color: var(--light);
	box-shadow: 0 0 0 0.2rem var(--light-shadow);
  }
  .btn-light.disabled, .btn-light:disabled {
	color: var(--text-disabled);
	background-color: var(--light-disabled);
	border-color: var(--light-hover);
  }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--light);
	border-color: var(--light-hover);
  }
  .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--light-shadow);
  }
  
  .btn-dark {
	color: var(--text);
	background-color: var(--dark);
	border-color: var(--dark-hover);
  }
  .btn-dark:hover {
	color: var(--text-light);
	background-color: var(--dark-hover);
	border-color: var(--dark);
  }
  .btn-dark:focus, .btn-dark.focus {
	color: var(--text-light);
	background-color: var(--dark-hover);
	border-color: var(--dark);
	box-shadow: 0 0 0 0.2rem var(--dark-shadow);
  }
  .btn-dark.disabled, .btn-dark:disabled {
	color: var(--text-disabled);
	background-color: var(--dark-disabled);
	border-color: var(--dark-hover);
  }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--dark);
	border-color: var(--dark-hover);
  }
  .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--dark-shadow);
  }
  
  .btn-outline-primary {
	color: var(--primary);
	border-color: var(--primary);
  }
  .btn-outline-primary:hover {
	color: var(--text);
	background-color: var(--primary-disabled);
	border-color: var(--primary);
  }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem var(--primary-shadow);
  }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: var(--primary);
	background-color: transparent;
  }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--primary);
	border-color: var(--primary);
  }
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--primary-shadow);
  }
  
  .btn-outline-secondary {
	color: var(--secondary);
	border-color: var(--secondary);
  }
  .btn-outline-secondary:hover {
	color: var(--text);
	background-color: var(--secondary-disabled);
	border-color: var(--secondary);
  }
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
  }
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: var(--secondary-disabled);
	background-color: transparent;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--secondary);
	border-color: var(--secondary-hover);
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
  }
  
  .btn-outline-success {
	color: var(--success);
	border-color: var(--success);
  }
  .btn-outline-success:hover {
	color: var(--text);
	background-color: var(--success-disabled);
	border-color: var(--success);
  }
  .btn-outline-success:focus, .btn-outline-success.focus {
	box-shadow: 0 0 0 0.2rem var(--success-shadow);
  }
  .btn-outline-success.disabled, .btn-outline-success:disabled {
	color: var(--success-disabled);
	background-color: transparent;
  }
  .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--success);
	border-color: var(--success-hover);
  }
  .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--success-shadow);
  }
  
  .btn-outline-info {
	color: var(--info);
	border-color: var(--info);
  }
  .btn-outline-info:hover {
	color: var(--text);
	background-color: var(--info-disabled);
	border-color: var(--info);
  }
  .btn-outline-info:focus, .btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem var(--info-shadow);
  }
  .btn-outline-info.disabled, .btn-outline-info:disabled {
	color: var(--info-disabled);
	background-color: transparent;
  }
  .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--info);
	border-color: var(--info-hover);
  }
  .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--info-shadow);
  }
  
  .btn-outline-warning {
	color: var(--warning);
	border-color: var(--warning);
  }
  .btn-outline-warning:hover {
	color: var(--text);
	background-color: var(--warning-disabled);
	border-color: var(--warning);
  }
  .btn-outline-warning:focus, .btn-outline-warning.focus {
	box-shadow: 0 0 0 0.2rem var(--warning-shadow);
  }
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: var(--warning-disabled);
	background-color: transparent;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--warning);
	border-color: var(--warning-hover);
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--warning-shadow);
  }
  
  .btn-outline-danger {
	color: var(--danger);
	border-color: var(--danger);
  }
  .btn-outline-danger:hover {
	color: var(--text);
	background-color: var(--danger-disabled);
	border-color: var(--danger);
  }
  .btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: 0 0 0 0.2rem var(--danger-shadow);
  }
  .btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: var(--danger-disabled);
	background-color: transparent;
  }
  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--danger);
	border-color: var(--danger-hover);
  }
  .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--danger-shadow);
  }
  
  .btn-outline-light {
	color: var(--light);
	border-color: var(--light);
  }
  .btn-outline-light:hover {
	color: var(--text);
	background-color: var(--light-disabled);
	border-color: var(--light);
  }
  .btn-outline-light:focus, .btn-outline-light.focus {
	box-shadow: 0 0 0 0.2rem var(--light-shadow);
  }
  .btn-outline-light.disabled, .btn-outline-light:disabled {
	color: var(--light-disabled);
	background-color: transparent;
  }
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--light);
	border-color: var(--light-hover);
  }
  .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--light-shadow);
  }
  
  .btn-outline-dark {
	color: var(--dark);
	border-color: var(--dark);
  }
  .btn-outline-dark:hover {
	color: var(--text);
	background-color: var(--dark-disabled);
	border-color: var(--dark);
  }
  .btn-outline-dark:focus, .btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem var(--dark-shadow);
  }
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
	color: var(--dark-disabled);
	background-color: transparent;
  }
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
	color: var(--text-light);
	background-color: var(--dark);
	border-color: var(--dark-hover);
  }
  .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem var(--dark-shadow);
  }
  
  .btn-link {
	font-weight: 400;
	color: var(--link);
	text-decoration: none;
  }
  .btn-link:hover {
	color: var(--link-hover);
	text-decoration: underline;
  }
  .btn-link:focus, .btn-link.focus {
	text-decoration: underline;
  }
  .btn-link:disabled, .btn-link.disabled {
	color: var(--link-disabled);
	pointer-events: none;
  }
  
  .btn-lg, .btn-group-lg > .btn {
	padding: 0.5rem 1rem;
	font-size: 1.125rem;
	line-height: 1.5;
	border-radius: 0.3rem;
  }
  
  .btn-sm, .btn-group-sm > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.7875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
  }
  
  .btn-block {
	display: block;
	width: 100%;
  }
  .btn-block + .btn-block {
	margin-top: 0.5rem;
  }



  
  .navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
	color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.5);
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: rgba(0, 0, 0, 0.7);
  }
  .navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
  }
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
	color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-light .navbar-text {
	color: rgba(0, 0, 0, 0.5);
  }
  .navbar-light .navbar-text a {
	color: rgba(0, 0, 0, 0.9);
  }
  .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
	color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar-dark .navbar-brand {
	color: var(--white);
  }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
	color: var(--white);
  }
  .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.5);
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
  }
  .navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255, 255, 255, 0.25);
  }
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
	color: var(--white);
  }
  .navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-dark .navbar-text {
	color: rgba(255, 255, 255, 0.5);
  }
  .navbar-dark .navbar-text a {
	color: var(--white);
  }
  .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
	color: var(--white);
  }


  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 10% ;
    /* text-align: center !important; */
    margin: 0;
    width: 100% !important;
	color: #00000000;
}
.files input:active {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    /* padding: 120px 10% 85px 10%; */
    text-align: center !important;
    margin: 0;
    width: 100% !important;
	color: #00FF00;
}
.files input:focus{     outline: 2px dashed #92b0b3;  
	outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; 
	border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 15%;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    top: 40%;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 27px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

  input[type=file]::file-selector-button {
	font: inherit;
	position: absolute;
	appearance: button;
	width: 80% ;
	bottom: 20%;
	background-color: transparent;
	font-weight: 400;
	color: var(--wpx-info1) ;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	border-color: var(--wpx-info1) ;
	padding: 0.375rem 0.75rem;
	line-height: 1.6;
	font-size: 0.9rem;
  }

  input[type=file]::file-selector-button:hover {
	font: inherit;
	appearance: button;
	/* content: 'test'; */
	background-color: transparent;
	font-weight: 400;
	color: var(--fr3-info1) ;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	border-color: var(--fr3-info1) ;
	padding: 0.375rem 0.75rem;
	line-height: 1.6;
	font-size: 0.9rem;
  }

.files-dragover {
	background-color: var( --wpx-light-20 ) ;
}


.w-5 {
	width: 5% !important;
  }



.stash-card:hover {
	border-color: var( --wpx-light-80 ) ;
}

.footer-bottom-fixed {
	position: fixed;
	/* display: flex; */
    /* flex-wrap: wrap; */
    align-items: top;
    /* justify-content: space-between; */
	height: 70px;
	width: 100%;
	bottom:0;
	border-top: 1px solid;
    border-color: var(--wpx-med-40);
	padding: 0%;
	margin: 0%;
}

.footer-bottom-bar {
	position: fixed;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
	/* height: 60px; */
	width: 100%;
	bottom:0;
	/* border-top: 1px solid; */
    /* border-color: var(--wpx-med-40); */
	/* padding: 0%; */
	/* margin: 0%; */
}

.footer-bottom-fixed-spacer {
	height: 70px !important;
  } 

.footer-expanded {
	--test-height: 280px;
	height: var(--test-height) !important;
}

  .vh-auto {
	height: calc(100vh - 125px) !important;
	padding-bottom: 120px;
	
  }

.bg-clear {
	background-color: #00000000;
}

.bg-clear-60 {
	background-color: #00000099;
}

.btn-tiny {
	text-align: center;
	padding: 0.175rem;
	font-size: 0.8rem;
	line-height: 1rem;
}